
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h1>Inventory Features</h1>
    <ul>
        <li>Save item in database</li>
        <li>Retrieve items from database and display searchable galary of thumbnails</li>
        <li>Save item type in database</li>
        <li>Retrieve item types from database and display in grid</li>
    </ul>
</div>